<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark" padding>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <p>
    This is a news app  and the <a href="https://newsapi.org/">News API</a>
  </p>

  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->

<ion-button expand="block" (click)="test()">test</ion-button>
</ion-content>

