<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>headlines</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card  *ngFor="let news of data" >
    <ion-card-header>
      <a href={{news.url}}><ion-card-title >{{news.title}}</ion-card-title></a>
      <img src={{news.urlToImage}}/>
      <ion-card-subtitle>{{news.description}}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      {{news.content}}
    </ion-card-content>
    <ion-datetime value={{news.publishedAt}} displayFormat="MMMM DD,  h:mm A"></ion-datetime>
  </ion-card>

</ion-content>
